body {
    color: whitesmoke;
}

table tr td{
    font-size: 18px;
    font-weight: bold;
    padding: 10px 30px;
    margin: 0 auto;
    border: 2px solid black;
}
table tr th {
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px
}
table {
    border-radius: 10px;
    border: 5px solid #0a0a0a;
    margin: 0 auto;
    background-color: #2b2a2a;
    color: whitesmoke;
}

.submit {
    /*background-color: darkred;*/
    background-color: #981c0a;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    padding: 5px;
}

.button {
    background-color: #981c0a;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    border-radius: 7px;
    border: 0;
}

.buttonUser {
    display: flex;
    width: 100%;
}

.title {
    text-align: center;
    margin: -10px -10px 50px -10px;
    padding: 20px;
    color: whitesmoke;
    background-color: black;
    opacity: 0.9;
    font-weight: bold;
}

body {
    background-image: url("/img/flag.png");
}

.bet{
    background-color: #981c0a;
    border: #981c0a;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    color: whitesmoke;
}

button .bet:hover {
    background-color: #69190d;
}

.addEvent {
    text-decoration: none;
    color: whitesmoke;
}

.textRight {
    display: flex;
}

.add {
    display: flex;
    padding: 15px;
    color: whitesmoke;
}

#login {
    margin-top: 10%;
}

.log {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
}

#user tr th {
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}
.user {
    margin: 0 auto;
}